libftTester-master/Dockerfile
libftTester-master/Makefile
libftTester-master/README.md
libftTester-master/.vscode/settings.json
libftTester-master/tests/ft_atoi_test.cpp
libftTester-master/tests/ft_bzero_test.cpp
libftTester-master/tests/ft_calloc_test.cpp
libftTester-master/tests/ft_isalnum_test.cpp
libftTester-master/tests/ft_isalpha_test.cpp
libftTester-master/tests/ft_isascii_test.cpp
libftTester-master/tests/ft_isdigit_test.cpp
libftTester-master/tests/ft_isprint_test.cpp
libftTester-master/tests/ft_itoa_test.cpp
libftTester-master/tests/ft_lstadd_back_test.cpp
libftTester-master/tests/ft_lstadd_front_test.cpp
libftTester-master/tests/ft_lstclear_test.cpp
libftTester-master/tests/ft_lstdelone_test.cpp
libftTester-master/tests/ft_lstiter_test.cpp
libftTester-master/tests/ft_lstlast_test.cpp
libftTester-master/tests/ft_lstmap_test.cpp
libftTester-master/tests/ft_lstnew_test.cpp
libftTester-master/tests/ft_lstsize_test.cpp
libftTester-master/tests/ft_memccpy_test.cpp
libftTester-master/tests/ft_memchr_test.cpp
libftTester-master/tests/ft_memcmp_test.cpp
libftTester-master/tests/ft_memcpy_test.cpp
libftTester-master/tests/ft_memmove_test.cpp
libftTester-master/tests/ft_memset_test.cpp
libftTester-master/tests/ft_putchar_fd_test.cpp
libftTester-master/tests/ft_putendl_fd_test.cpp
libftTester-master/tests/ft_putnbr_fd_test.cpp
libftTester-master/tests/ft_putstr_fd_test.cpp
libftTester-master/tests/ft_split_test.cpp
libftTester-master/tests/ft_strchr_test.cpp
libftTester-master/tests/ft_strdup_test.cpp
libftTester-master/tests/ft_striteri_test.cpp
libftTester-master/tests/ft_strjoin_test.cpp
libftTester-master/tests/ft_strlcat_test.cpp
libftTester-master/tests/ft_strlcpy_test.cpp
libftTester-master/tests/ft_strlen_test.cpp
libftTester-master/tests/ft_strmapi_test.cpp
libftTester-master/tests/ft_strncmp_test.cpp
libftTester-master/tests/ft_strnstr_test.cpp
libftTester-master/tests/ft_strrchr_test.cpp
libftTester-master/tests/ft_strtrim_test.cpp
libftTester-master/tests/ft_substr_test.cpp
libftTester-master/tests/ft_tolower_test.cpp
libftTester-master/tests/ft_toupper_test.cpp
libftTester-master/utils/check.cpp
libftTester-master/utils/check.hpp
libftTester-master/utils/color.cpp
libftTester-master/utils/color.hpp
libftTester-master/utils/leaks.cpp
libftTester-master/utils/leaks.hpp
libftTester-master/utils/sigsegv.cpp
libftTester-master/utils/sigsegv.hpp