libftTester-master/Dockerfile
libftTester-master/Makefile
libftTester-master/README.md
libftTester-master/.vscode/settings.json
libftTester-master/tests/ft_atoi_test.cpp
libftTester-master/tests/ft_bzero_test.cpp
libftTester-master/tests/ft_calloc_test.cpp
libftTester-master/tests/ft_isalnum_test.cpp
libftTester-master/tests/ft_isalpha_test.cpp
libftTester-master/tests/ft_isascii_test.cpp
libftTester-master/tests/ft_isdigit_test.cpp
libftTester-master/tests/ft_isprint_test.cpp
libftTester-master/tests/ft_itoa_test.cpp
libftTester-master/tests/ft_lstadd_back_test.cpp
libftTester-master/tests/ft_lstadd_front_test.cpp
libftTester-master/tests/ft_lstclear_test.cpp
libftTester-master/tests/ft_lstdelone_test.cpp
libftTester-master/tests/ft_lstiter_test.cpp
libftTester-master/tests/ft_lstlast_test.cpp
libftTester-master/tests/ft_lstmap_test.cpp
libftTester-master/tests/ft_lstnew_test.cpp
libftTester-master/tests/ft_lstsize_test.cpp
libftTester-master/tests/ft_memccpy_test.cpp
libftTester-master/tests/ft_memchr_test.cpp
libftTester-master/tests/ft_memcmp_test.cpp
libftTester-master/tests/ft_memcpy_test.cpp
libftTester-master/tests/ft_memmove_test.cpp
libftTester-master/tests/ft_memset_test.cpp
libftTester-master/tests/ft_putchar_fd_test.cpp
libftTester-master/tests/ft_putendl_fd_test.cpp
libftTester-master/tests/ft_putnbr_fd_test.cpp
libftTester-master/tests/ft_putstr_fd_test.cpp
libftTester-master/tests/ft_split_test.cpp
libftTester-master/tests/ft_strchr_test.cpp
libftTester-master/tests/ft_strdup_test.cpp
libftTester-master/tests/ft_striteri_test.cpp
libftTester-master/tests/ft_strjoin_test.cpp
libftTester-master/tests/ft_strlcat_test.cpp
libftTester-master/tests/ft_strlcpy_test.cpp
libftTester-master/tests/ft_strlen_test.cpp
libftTester-master/tests/ft_strmapi_test.cpp
libftTester-master/tests/ft_strncmp_test.cpp
libftTester-master/tests/ft_strnstr_test.cpp
libftTester-master/tests/ft_strrchr_test.cpp
libftTester-master/tests/ft_strtrim_test.cpp
libftTester-master/tests/ft_substr_test.cpp
libftTester-master/tests/ft_tolower_test.cpp
libftTester-master/tests/ft_toupper_test.cpp
libftTester-master/utils/check.cpp
libftTester-master/utils/check.hpp
libftTester-master/utils/color.cpp
libftTester-master/utils/color.hpp
libftTester-master/utils/leaks.cpp
libftTester-master/utils/leaks.hpp
libftTester-master/utils/sigsegv.cpp
libftTester-master/utils/sigsegv.hpp
a.out
ft_atoi.o
ft_bzero.o
ft_calloc.o
ft_isalnum.o
ft_isalpha.o
ft_isascii.o
ft_isdigit.o
ft_isprint.o
a.out
ft_itoa.o
ft_memchr.o
ft_memcmp.o
ft_memcpy.o
ft_memmove.o
ft_memset.o
ft_putchar_fd.o
ft_putendl_fd.o
ft_putnbr_fd.o
ft_putstr_fd.o
ft_split.o
ft_strchr.o
ft_strdup.o
ft_striteri.o
ft_strjoin.o
ft_strlcat.o
ft_strlcpy.o
ft_strlen.o
ft_strmapi.o
ft_strncmp.o
ft_strnstr.o
ft_strrchr.o
ft_strtrim.o
ft_substr.o
ft_tolower.o
ft_toupper.o
libft.a
libft.h.gch
libft-war-machine
